.left,
.right,
.top,
.bottom,
.topLeft,
.topRight,
.bottomLeft,
.bottomRight {
  position: absolute;
  border: 4px solid transparent;
}

.left,
.right {
  top: 4px;
  bottom: 4px;
  width: 0px;
  cursor: col-resize;
}

.left {
  left: -5px;
}

.right {
  right: -5px;
}

.top,
.bottom {
  height: 0px;
  left: 4px;
  right: 4px;
  cursor: row-resize;
}

.top {
  top: -5px;
}

.bottom {
  bottom: -5px;
}

.topLeft,
.topRight,
.bottomLeft,
.bottomRight {
  width: 0px;
  height: 0px;
}

.topLeft,
.topRight {
  top: -5px;
}

.bottomLeft,
.bottomRight {
  bottom: -5px;
}

.topLeft,
.bottomLeft {
  left: -5px;
}

.topRight,
.bottomRight {
  right: -5px;
}

.topLeft {
  cursor: nw-resize;
}

.topRight {
  cursor: ne-resize;
}

.bottomLeft {
  cursor: sw-resize;
}

.bottomRight {
  cursor: se-resize;
}
